
<!-- <script language="javascript" type="text/javascript" src="datetimepicker.js">
</script>-->



<form action="/polls/{{ poll }}/addchoice/" method="POST">
{% csrf_token %}
<p>poll</p> {{ poll }}
choice:<input type="text" name="choice"/>
votest:<input type="text" name="votes"/>


<!--#poll_id:<input type="hidden" name="pollid" value={{ poll }}/>--->
<!--    pub_date:<input type="Text" id="demo1" maxlength="25" size="25",name="pub_date"/>
    <a   href="javascript:NewCal('demo1','ddmmmyyyy',true,24)"><img src="cal.gif" width="16" height="16" border="0" alt="Pick a date"/></a>    -->

<input type="submit" value="add" />
</form>
